.main{
	display: grid;
	grid-template-columns: 75% 25%;
	grid-template-rows: 20% 80%;
	
}

.item1{
	grid-column: 1/3;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

.search{
	width:900px;
	height:40px;
}

.menu{
	width: 250px;
	margin: 10px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
}

.profile{
	margin: 10px;
}

.mainboxes{
	margin: 5px;
	padding: 10px;
	border:1px solid black;
	text-align: center;
}

